* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section {
  margin: 20px 20px 20px 100px;
}
.form__div {
  display: flex;
  align-items: center;
}

.form__label-input-div {
  margin: 0 10px;
}
.form__checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  background: #fafafa;
  border-radius: 5px;
  padding: 0 20px;
  line-height: 30px;
  color: #666;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

label {
  font-size: 16px;
  color: #555;
  display: block;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  margin: 10px;
  font-weight: 600;
}

.form__btn {
  background: #4272d7;
  border-radius: 10px;
  line-height: 50px;
  padding: 0 50px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  margin-left: 20px;
}

.show-section {
  border: 3px solid #555;
  border-radius: 24px;
}

.showSection__div {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  border-bottom: 3px solid #000;
}

.showSection__div:last-child {
  border: none;
}

button {
  margin: 20px;
}

label {
  padding: 10px 30px;
}
